<div class="modal fade" id="new_bug_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-end justify-content-end" style="background: #F5F6F8;">
        <div class="bg-dark rounded d-flex align-items-center justify-content-center float-right" style="height: 32px; width: 32px">
          <button type="button" class="btn-close btn-close-white p-0 m-0" data-bs-dismiss="modal" aria-label="Close" style="opacity: 1;"></button>
        </div>
      </div>
      <div class="modal-body p-0">
        <div class="d-flex justify-content-between align-items-center p-4">
          <h4>Add New Bug</h4>
          <img src="/images/three-dot.svg" style="height: 20px; width: 15px;" />
        </div>
        <hr />
        <main class="px-3">
          <%= form_for(obj, url: bugs_path, method: :post, :html => { class: "form-horizontal", role: "form" }) do |f| %>
            <div class="d-flex align-items-center">
              <div class="form-control border-0 mt-2 d-flex w-50">
                <%= f.label :user_id, "Assign to", class: "text-nowrap" %>
                <%= f.select :user_id, project.users.where(role: :developer).pluck(:name, :id), {include_blank: true}, data: {controller: "slim-select"}, class: "ms-3" %>
              </div>
              <div class="form-control border-0 mt-2">
                <%= f.label :deadline, "Add due date" %>
                <%= f.date_field :deadline, class: "p-2 rounded-2", style: "border: 0.5px dashed grey;" %>
              </div>
            </div>
            <div class="form-control border-0" style="outline: none;">
              <%= f.text_field :title, class: "w-100 border-0 my-3 input-lg h-100 fs-1", placeholder: "Add title", style: "outline: none;", id: "title-input" %>
            </div>
            <div class="form-control border-0" style="outline: none;">
              <%= f.label :description, "Bug details" %>
              <%= f.text_field :description, class: "form-control w-100 border border-opacity-10 p-3", placeholder: "Add here", id: "title-input" %>
            </div>
            <div class="form-control border-0 mt-5 d-flex justify-content-center" data-controller="previews" style="min-height: 150px; color: #8D98AA;">
              <label for="image-btn" class="w-100 text-center" data-previews-target="showLabel" style="cursor: pointer;">
                <img src="/images/upload-icon.png" style="height: 31px; width: 31px;" class="me-2" />
                Drop any files here or browse
              </span>
            </label>
            <label for="image-btn" data-previews-target="showImage" style="cursor: pointer;">
              <%= image_tag "", data: { previews_target: "preview" }, class: "project-modal-image text-center" %>
            </label>
            <%= f.file_field :screenshot, class: "form-control", accept: ".gif, .png", direct_upload: true, 
                    data: { previews_target: "input", action: "change->previews#preview"}, hidden: true, id: "image-btn" %>
          </div>
          <%= f.hidden_field :project_id, value: params[:id] %>
          <div class="modal-footer">
            <%= f.submit("Add", class: "btn btn-primary px-4 rounded-1 fs-6", style: "width: 140px;") %>
          </div>
        <% end %>
      </main>
    </div>
  </div>
</div>
